*{
    margin: 0;
    padding: 0;
}
#wrap{
    border: 2px solid black;
    margin: auto;
    padding: 15px;
    width: 400px;
}
#searchForm{
    text-align: center;
}
#moreBtn{
    text-align: center;
}
#itemList div{
    margin: 15px 0;
}